{% extends 'base/base2.html' %}
{% block title %}
Welcome: Face Recognition App
{% endblock title %}
{% block head %}
<style>
	body {
        background-color: #F3EBF6;
        font-family: 'Ubuntu', sans-serif;
    }
    
    .main {
        background-color: #FFFFFF;
        width: 400px;
        height: 400px;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }
    
    .sign {
        padding-top: 40px;
        color: #338DFF;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 23px;
    }
    
    .un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
    
    form.form1 {
        padding-top: 40px;
    }
    
    .pass {
            width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
    
   
    .un:focus, .pass:focus {
        border: 2px solid rgba(0, 0, 0, 0.18) !important;
        
    }
    
    .submit {
        cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: #02C12B;
        border: none;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 35%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
        outline: none;
    }
   

	.signup {
		text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #000000;
        padding-top: 15px;
	} 
    
    .forgot {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #E1BEE7;
        padding-top: 15px;
    }
    
    a {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #E1BEE7;
        text-decoration: none
    }
    
    @media (max-width: 600px) {
        .main {
            border-radius: 0px;
        }
</style>
{% endblock head%}
{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning{{message.tag}} alert-dismissible fade show my-0" role="alert">
	<strong>{{message}}</strong>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
{% endfor %}
{% endif %}

{% if otp %}
<div class="main">
    <p class="sign" align="center">Varify Email by OTP</p>
    <form name="form1" class="form-group" method="post" action="/signup/">
	{% csrf_token %}
        <input class="un " type="hidden" align="center" name="user" value="{{user.username}}">
		<input class="un " type="name" align="center" name="otp" placeholder="Enter OTP">
        <button class="submit" align="center">Submit</button>
	    <p class="signup" align="center"><i><a href="resendOTP" onclick="ReSendOTP('{{user.username}}', 'resendOTPmess')"><i id="resendOTPmess">Resend </i>OTP</a></P>
    </form>
</div>
{% else %}
<div class="main">
    <p class="sign" align="center">Welcome !</p>
    <form name="form1" class="form-group" method="post" action="/">
	{% csrf_token %}
      	<input class="un " type="username" align="center" name="username" placeholder="Enter your Username">
     	<input class="pass" type="password" align="center" name="password" placeholder="Enter your Password">
      <button class="submit" >Log in</button>
	  <p class="signup" align="center"><a>Not Registered?</a> <a href='/signup/'><i>Sign up</i></a></p>
      <p class="forgot" align="center"><a href=" {% url 'password_reset' %} "><i>Forgot Password?</i></p>
            
    </form>            
    </div>
{% endif %}
{% endblock body %}