{% extends 'base/base2.html' %}
{% block title %}
Email Sent
{% endblock title %}
{% block head %}
{% endblock head%}
{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning{{message.tag}} alert-dismissible fade show my-0" role="alert">
	<strong>{{message}}</strong>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
{% endfor %}
{% endif %}
<div class="container my-5">
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>An Email has been sent with instructions to reset your password, if you entered the correct Email id.</p>
  <hr>
  <p class="mb-0">Check Your Email!</p>
  
</div>
<a href="/"><button type="button" class="btn btn-primary">Okay</button></a>
</div>



      
            
                
    
{% endblock body %}