{% extends 'base/base.html' %}
{% block title %}
View: Employee
{% endblock title %}
{% block head %}

{% endblock head %}

{% block body %}

<div class="container mt-5">
	<h4 class="text-center alert alert-primary">Employee</h4>
	<div class="row">
		<div class="col-sm-6">
			<form name="outside_person_new" class="form-group" method="post" action="/employee/">
				{% csrf_token %}
				<h4 class="text-center alert alert-primary">Details</h4>
				<div class="row jumbotron">
                {% if view_em %}
					<div class="col-sm-6">
						<label for="inputname">Employee Name</label>
						<input type="text" class="form-control" name="name" placeholder=" {{view_em.name}} " disabled="true">
					</div>
					
					<div class="col-sm-6">
						<label for="inputname">Employee ID</label>
						<input type="text" class="form-control" name="employee_id" placeholder=" {{view_em.employee_id}} " disabled="true">
					</div>

                    <div class="col-sm-6">
						<label for="inputname">Department</label>
						<input type="text" class="form-control" name="employee_id" placeholder=" {{view_em.department}} " disabled="true">
					</div>
                    

                    <div class="col-sm-6">
						<label for="inputname">University Mail ID</label>
						<input type="text" class="form-control" name="employee_id" placeholder=" {{view_em.university_mail}} " disabled="true">
					</div>

					<div class="col-sm-6">
						<label for="inputname">Phone No.</label>
						<input type="number" class="form-control" name="phone_no" placeholder="{{view_em.phone_no}}" disabled="true">
					</div>
				

                    <div class="col-md-12" style="text-align: center; margin-top: 20px">
                        <a href=" {% url 'employee' %} " class="btn btn-danger">←Back</a>
                        <a href=" # " class="btn btn-warning">Edit</a>
                    </div>
                    
                {% endif %}
                </div>
            </form>
        </div>

        <div class="col-sm-6">
            <h4 class="text-center alert alert-primary">Photos</h4>

            <div class="container mt-3">
                {% if view_em.photo %}
				<center><img src="{{view_em.photo.url}}" width="290"></center>
                {% else %}
                <h4 class="text-center alert alert-warning"> No Photos Found </h4>
                {% endif %}
            </div>
        </div>
        
        {% endblock body %}
                    

                